<ion-header>
  <ion-navbar>
      <button ion-button menuToggle icon-only>
          <ion-icon name='menu'></ion-icon>
        </button>
    <ion-title>
      Food List
    </ion-title>
  </ion-navbar>
</ion-header>
  
  
  <ion-content padding>
      <ion-menu [content]="content">
          <ion-header>
            <ion-toolbar>
              <ion-title>Menu</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <ion-list>
              <button ion-item (click)="openFav()">
                Faviorate food
              </button>
              <button ion-item (click)="closeMenu()">
                Close Menu
              </button>
            </ion-list>
          </ion-content>
        </ion-menu>
   
    <ion-nav id="nav" #content [root]="rootPage"></ion-nav>
<ion-content padding>
  <ion-searchbar [(ngModel)]="terms"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="onInput($event)"
   (ionClear)="onClear($event)">></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let item of foods?.list?.item" >
      <h2 (click)="onItemClick(item)">{{item.group}}</h2>
      <p>Name: {{item.name}}</p>
      
      <button ion-button icon-only  round  (click)="addFav(item)">
          <ion-icon name="star"></ion-icon>
        </button>
  
        
    </ion-item>
  </ion-list>
</ion-content>
