<!--
  Generated template for the DetailsViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>detailsView</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  


<ion-card>
    <ion-card-header>
      {{foodItem?.group}}
    </ion-card-header>
    <ion-card-content>
      <h4>{{foodItem?.name}}}</h4>
      <p>ndbno-{{foodItem?.ndbno}} and DS- {{foodItem?.ds}}</p>
    
  <h3>Nutrients</h3>

  <ion-grid>
    <ion-row>
      <ion-col col-12 *ngFor="let report of itemReport">
        <h4> {{report.name}} - {{report.value}} {{report.unit}}</h4>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card-content>
</ion-card>
</ion-content>