<!--
  Generated template for the FavPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>fav</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card>

    <ion-card-header>
     Favorite Foods
    </ion-card-header>
   
  </ion-card>
  <ul *ngFor="let favFood of favFoods">
    <li class="item item-text-wrap">
      <button ion-button  (click)=" goToDetail(favFood)">{{favFood.name}}</button>
    </li>
  </ul>
</ion-content>
